.vs
AsoSportiveBLL/obj/Debug/
AsoSportiveGUI/obj/Debug/
AsoSportiveDAL/obj/Debug/
AsoSportiveBO/obj/Debug/
AsoSportiveBLL/bin/Debug/
AsoSportiveGUI/bin/Debug/
AsoSportiveDAL/bin/Debug/
AsoSportiveBO/bin/Debug/