<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="Local" connectionString="Data Source=LAPTOP-0VLSEGUM\MSSQLSERVER01;Initial Catalog=ppe_asso;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Utilisateur" connectionString="Data Source=localhost;Initial Catalog=ppe_aso;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>